/* s: header common */
.wrap_header {
    width: 1440px;
    margin: 0 auto;
}
.wrap_nav {
    width: 960px;
    padding: 0 240px;
    position: absolute;
    top: 36px;
    display: flex;
    align-items: center;
    color: #fff;
}
.wrap_nav a:link, .wrap_nav a:visited {
    font-weight: 700;
    color: #fff;
}
.logo {
    font-size: 0;
}
.logo a:link, .logo a:visited {
    font-size: 24px;
    display: inline-block;
    width: 140px;
    margin-right: 24px;
}
nav li {
    float: left;
}
nav a:link, nav a:visited {
    display: inline-block;
    width: 140px;
    margin-right: 24px;
}
nav a:hover::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #2F80ED;
    border-radius: 1px;
    position: absolute;
    top: -2px;
}
.btn_login {
    min-width: 140px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 16px;
    background-color: #ffffff40;
    text-align: center;
    padding: 4px 0;
    box-sizing: border-box;
}
.btn_login:hover {
    border: 2px solid #2F80ED;
    background-color: #2F80ED40;
}
.search_bar {
    width: 468px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
.search_bar input {
    position: absolute;
    width: 100%;
    height: 52px;
    border: 2px solid #fff;
    border-radius: 26px;
    background-color: #ffffff40;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 0 14px;
    box-sizing: border-box;
    outline: 0;
}
.placeholder {
    position: absolute;
    top: 14px;
    left: 16px;
    font-size: 18px;
    color: #fff;
}
.search_bar button {
    font-size: 0;
    width: 44px;
    height: 44px;
    background-image: url(../img/icon/search.svg);
    background-color: #00000000;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    right: 4px;
    border: 0;
    outline: 0;
    z-index: 999;
}
.search_bar button:hover {
    background-color: #f8f8f840;
    border-radius: 22px;
}
.wrap_bg_header {
    position: relative;
    z-index: -999;
}
.gr_header {
    height: 200px;
    width: 100%;
    background: linear-gradient(#2610004d, #26100000);
    position: absolute;
}
.bg_header {
    min-width: 1440px;
    background-image: url(../img/header.jpg);
    background-size: 110%;
    background-position: center;
}
/* e: header common */
/* s: header large */
.header.large {
    position: relative;
}
.header.large .bg_header {
    height: 440px;
}
/* e: header large */
/* s: header small */
.header.small {
    position: relative;
}
.header.small .bg_header {
    height: 240px;
}
.header.small.active .bg_header {
    height: 367px;
}
.header.small .search_bar {
    top: 120px;
}
/* e: header small */
/* s: header active */
.header.active .search_bar {
    width: 632px;
}
.dropdown {
    width: 632px;
    position: absolute;
    top: 26px;
}
.wrap_item_dropdown {
    margin-top: 26px;
    padding: 14px 16px 16px;
    background-color: #fff;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}
.dropdown .recent {
    margin-bottom: 16px;
}
.dropdown p {
    font-size: 12px;
}
.dropdown .tit {
    font-weight: 700;
    margin-bottom: 8px;
}
.dropdown .del_all {
    float: right;
}
.dropdown .tag {
    margin-right: 8px;
    margin-bottom: 0;
}
.bg_dropdown{
    width: 632px;
    height: 26px;
    background-image: url(../img/dropdown.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -998;
}
#match_list {
    margin-top: 26px;
    width: 100%;
    height: 172px;
    overflow: hidden;
    background-color: #fff;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    position: absolute;
    top: 0;
}
#match_list p {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 16px;
}
#match_list p:hover {
    background-color: #2F80ED26;
}
/* e: header active */