.hl {
    text-align: left;
    line-height: 34px;
    margin-top: -4px;
    margin-bottom: 20px;
}
/* s: popup - login, create account */
.popup .tit {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}
.msg_spt {
    margin-bottom: 40px;
}
.msg_spt a:link, .msg_spt a:visited {
    text-decoration: underline;
    color: #2F80ED;
    margin-left: 10px;
}
.social_login {
    margin: 60px 0;
}
.social_login p {
    margin-bottom: 14px;
}
.social_login .btn {
    margin: 6px 0;
}
.popup .privacy {
    text-align: center;
}
.appr_email {
    margin-bottom: 40px;
}
.appr_email .user_email {
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.user_email .i_appr {
    margin-left: 4px;
}
/* e: popup - login, create account */