/* s: 1d1q */
/* s: article - hashtag */
.wrap_hashtag {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.wrap_hashtag p {
    font-size: 14px;
    color: #828282;
    margin-bottom: 30px;
}
.tag {
    margin: 0 6px 12px;
}
/* e: article - hashtag */
/* s: article - content */
.option {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.viewer:hover {
    padding-right: 8px;
    background-color: #f8f8f8;
}
.show.list, .show.grid {
    display: flex;
    align-items: center;
}
.viewer .i {
    margin-right: 10px;
}
.viewer span {
    font-size: 14px;
}
#sort {
    position: absolute;
    right: 0;
    border: 0;
}
.wrap_contents.list.store {
    padding-top: 6px;
}
.content {
    position: relative;
    margin-bottom: 60px;
}
.content.grid:last-of-type {
    margin-bottom: 160px;
}
.content.list:last-of-type {
    margin-bottom: 0;
}
.content.grid {
    width: 304px;
    float: left;
    margin-right: 24px;
}
.content.grid:nth-child(3n) {
    margin-right: 0;
}
.content.list {
    clear: both;
}
.content.grid .wrap_img {
    margin-bottom: 20px;
}
.content.list .wrap_img {
    float: left;
    margin-right: 24px;
}
.wrap_tit .i {
    margin-left: -6px;
    margin-right: 4px;
    float: left;
}
.wrap_tit .tit {
    padding-top: 3px;
}
.wrap_tit {
    display: flex;
    margin-top: -6px;
}
.content .tit {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .dscr {
    margin-top: 14px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    word-wrap: break-word;
}
.content.grid .dscr {
    clear: both;
    -webkit-line-clamp: 2;
}
.wrap_list {
    height: 240px;
    position: relative;
}
.content.list .dscr {
    margin-top: 16px;
    -webkit-line-clamp: 5;
}
.upload_date {
    font-size: 14px;
    width: 270px;
    color: #828282;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
}
.content.list .upload_date {
    position: absolute;
    bottom: 20px;
    left: 328px;
}
.content.grid .i.save, .content.grid .i.saved {
    position: absolute;
    right: 0;
    bottom: -6px;
}
.content.list .i.save, .content.list .i.saved {
    position: absolute;
    right: 0;
    top: 0;
}
.content.list .bdr-b {
    width: 632px;
}
/* e: article - content */
/* e: 1d1q */
/* s: 1d1q - store */
.wrap_map {
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;
}
#map {
    width: 960px;
    height: 500px;
}
.btn_map {
    z-index: 999;
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn_map button {
    background-position: center;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    display: block;
    margin-bottom: 2px;
}
.btn_map button:first-of-type {
    margin-bottom: 20px;
}
.tag_map:link, .tag_map:visited {
    padding: 5px 10px 5px 6px;
    border: 1px solid #E0E0E0;
    border-radius: 17px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    color: #000;
}
.tag_map:hover {
    text-decoration: underline;
}
.tag_map .i.store {
    margin-right: 4px;
}
.tag_map_txt {
    font-size: 12px;
}
/* e: 1d1q - store */
/* s: 1d1q - details */
.back_to_list {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    font-size: 14px;
}
.back_to_list .i {
    margin-right: 10px;
}
.tit_detail p {
    width: 600px;
    margin: 0 auto;
}
.tit_detail .hl {
    margin-bottom: 12px;
}
.tit_detail .icons {
    position: absolute;
    top: 78px;
    right: 240px;
}
.tit_detail .icons .i {
    margin-left: 24px;
}
.wrap_detail_img {
    margin-top: 40px;
    margin-bottom: 60px;
}
/* e: 1d1q - details */